*{
    font-family: Arial, Helvetica, sans-serif;
}
nav {
    width: 80%;
    display: flex;
}
ul { list-style: none;
    margin: 5px;
margin-left: 100px;
width: 100%;
}
li {
    margin: 30px;
    text-align: center;
    display: inline;
    font-size: 30px;
    margin-left: 200px;
}
.ic {
    font-size: 18px;
    display: flex;
    margin: 3px;
    padding: 20px;
}
.uci{font-size: 20px;
    display: flex;
    margin: 3px;
    padding: 20px;
    background-color: black;
    color: white;
    text-align: center;
    width: 150px;
    height: 50px;
    border-radius: 50px;
}
.uci:hover{
    transition: background-color 0.4s ease, padding 0.3s ease;
    background-color: rgb(175, 173, 173);
    border-radius: 50px solid rgb(175, 173, 173);
}
.flecha {
    padding: 30px 20px 10px 20px;
    text-decoration: none;
    font-size: 40px;
}
.fijo{
    position: fixed;
    margin: 5px;
    width: 200px;
}
.ic:hover{
    background-color: rgba(231, 230, 230, 0.918);
    border-radius: 25px;
    transition: background-color 0.6s ease, padding 0.3s ease;
}
.flecha {
    padding: 30px 20px 10px 20px;
    text-decoration: none;
    font-size: 40px;
}
.contenedor1{
    height: 60px;
    width: 100%;
}
.segui {
    position: absolute;
    display: flex;
    margin-left: 600px;}
.buscar{
    margin-bottom: 5px;
    padding: 5px;
    margin-left: 950px;
    width: 200px;
    height: 25px;
    text-align: center;
    border-radius: 25px;
}
.ico{
    position: absolute;
    display: grid;
    display: inline;
}
.contenedor{
    width: 570px;
    position: relative;
    border-radius: 25px;
    border-radius: 10px;
    height: 415px;
    margin-left: 340px;
    padding: 5px;
}
.publi {
    position: absolute;
    display: flex;
    text-decoration: none;
    width: 50%;
    margin-left: 300px;
    margin: 20px;
}
.posteo { width: 100%;
    margin: 70px;
    margin-left: 30px;
    width: 500px;
    height: 500px;
    position: absolute;
    z-index: 2;
    box-sizing: border-box;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.post {
    font-size: 30px;
}
.flecha:hover{
    color: skyblue;
}
.icon {
    margin-left: 330px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    z-index: 70;
} 
.icon3{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.icon2 {
    margin-left: 20px;
    justify-content: center;
    text-align: center;
    width: 400px;
    height: 400px;
    border-radius: 5%;}
.icon:hover{
    filter: brightness(120%);
}
.seguir{
    background-color: black;
    color: white;
    border-radius: 15px;
    margin-left: 20px;
    margin-right: 440px;
    width: 55px;
    height: 30px;
    font-family: arial;
}
.seguir:hover{
    background-color: gray;
    border-color: gray;
}
.nombre{
    width: 50%;
    font-family: arial;
    font-size: 13px;
    margin-left: 10px;
    flex: 4;}
.seguir:hover{filter: brightness(130%);}
.Hashtag{color: blue;}
a {
    text-decoration: none;
    color: black;
}
.user{
    text-decoration: none;
}
.comi{
    margin-left: 310px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 10px;
}
.comentarios{
    width: 300px;
    margin-top: 20px;
    display: flex;
    text-decoration: none;
    width: 300px;
}
.nombre {
    font-size: 15px;
    display: block;
}
.pule { list-style: none;
    margin: 20px;
    margin-left: 100px;
    width: 100%;
}
.pul { display: inline;
    font-size: 15px;
    margin-left: -270px;
    padding: 160px;
}
.comentario {
    margin-right: 500px;
    display: flex;
    width: 500px;
    margin-top: 30px;
    margin-bottom: 5px;
}
.respuesta {
    margin-right: 500px;
    display: flex;
    width: 500px;
    margin-bottom: 10px;
}
.publica {
    margin-left: 10px;
    width: 250px;
    border: solid white;
}
.respo{
    width: 100px;
    background-color: rgb(155, 151, 151);
    color: white;
    border-radius: 25px;
    border-color: 5px solid rgb(155, 151, 151);
}
.pula { display: inline;
    font-size: 15px;
    margin-left: -270px;
    padding: 160px;